/* General Format */
body {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 0px;
    padding: 0px;
    background-image: repeating-linear-gradient(45deg, lightgrey, lightgrey 8px, rgba(220,220,220,.5) 8px, rgba(220,220,220,.5) 10px);
    min-width: 300px;
}

h1 {
    background-color: white;
    text-align: center;
    padding: 40px 0px 40px 0px;
    margin: 0px;
}

h2 {
    text-align: center;
    padding: 40px 0px 40px 0px;
    margin: 0px;
}

#wrapper {
    background-color: white;
    height: 100%;
    width: 70%;
    margin: 0px auto 0px auto;
    box-shadow: 0px 0px 15px grey;
}

#content {
    background-color: rgb(245, 245, 245);
    padding: 0px 0px 10px 0px;
}

#bannerImage {
    width: 100%;
}

#bannerImageCredit {
    float: right;
    font-size: 10px;
    margin: 0px 10px 0px 0px;
}

/* Navigation */
#navigation {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1;
}

.navbar {
    background-color: slategrey;
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    display: flex;
    justify-content: center;
}

.navbarLink {
    display: inline-block;
}

.navbarLink a {
    color: white;
    display: block;
    text-align: center;
    text-decoration: none;
    padding: 10px 20px 10px 20px;
}

.navbarLink a:hover {
    background-color: darkslategrey;
}

/* Footer */
.footer {
    margin: 5px;
}

/* Projects */
ul#projects {
    list-style: none;
    width: 100%;
    padding: 0;
    margin: 10px auto 10px auto;
    text-align: center;
}

ul#projects a {
    text-decoration: none;
}

.project {
    display: inline-block;
    position: relative;
    height: 225px;
    width: 300px;
    margin: 5px;
    border: 3px;
    border-radius: 15px;
}

.projectDescription {
    position: absolute;
    background-color: rgba(30, 30, 30, 0.7);
    height: 75px;
    width: 100%;
    bottom: 0;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.name {
    color: white;
    font-size: 16px;
    margin: 5px 0px 5px 0px;
}

.description {
    color: lightgrey;
    font-size: 11px;
    margin: 0px;
}

.projectImage {
    width: 100%;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

#weatherApp {
    background-image: url('../images/weather.png');
    background-size: contain;
}

#raytracer {
    background-image: url('../images/raytracer.png');
    background-size: contain;
}

#healthCareManagement {
    background-image: url('../images/healthCare.png');
    background-size: contain;
}

#stardewValleyMods {
    background-image: url('../images/stardewFarmIconsOnLoadScreen.png');
    background-size: contain;
}

/* Resume */
#resume {
    text-align: center;
}

#resume a {
    text-decoration: none;
}

/* About */
.aboutText {
    width: 70%;
    margin: 0px auto 20px auto;
}

